
* {
    box-sizing: border-box;
}

body {
    /*font-family: Arial, Helvetica, sans-serif;
    background-image: url(../img/pexels-pixabay-326281.jpg);*/
    background: url(../img/pexels-jer-chung-2116090.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

main{
    width: 80%;
    margin: 0 auto;
    background-color: rgba(124, 168, 153, 0.5);
    font-size: large;
    font-weight: bold;
    color: white;
}
.all_sections{
}


/*Styling the header and Nav*/
header{
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}
ul{
    list-style-type: none;
    text-decoration: none;
}

nav ul li {
    display: inline;
}

#main_logo{
    max-width: 10%;
    border-radius: 50%;
    background: transparent;
}


/*Styling the main section of the page*/
section{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

p{
    display: inline-block;
    max-width: 40%;
}

#story_img{
    max-width: 40%;
    ali
}

.contact_section{
    display: inline-block;
    height: 100%;
    width: 49.7%;
}


/*Styling the footer*/
footer{
    text-align: center;
}